* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.busca-logados {
    color: white;
    background: rgb(161, 108, 214);
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}